h1 {text-align: center;}
h4 {text-align: center;}
p {text-align: center;}
footer {text-align: center;
        position: fixed;
        bottom: 0;
        font-size: large}
#code {text-align: center;}
#button {text-align: center;}