<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spot-Git Welcome Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
    {% include "favicon.jinja" %}
</head>

<body>
    <h1>Spot Git OAuth Landing page</h1>
    <p> If you are seeing this then you are should really should check out the project</p>
    {% include "footer.jinja" %}
</body>

</html>