<!doctype html>
<html lang="en">
<head>
    <title>Spot-Git Code</title>
    <meta name="Build" content={{ date }}>
    <script src={{ url_for("static", filename="copy_script.js") }}></script>
    <link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
    {% include "favicon.jinja" %}
</head>
<body>
    <h1> Spot-Git Code </h1>
    <h4> Developed by <a href="https://www.jwhite.network"> Cyb3r Jak3</a> </h4>
    <p>Your code to enter is:</p> <p> <b> id=code>{{ code }}</b></p>
    <div id=button> <button onclick="copyDivToClipboard()">Copy Code</button></div>
    <p>Once the code has been copied, you can close this tab.</p>

{% include "footer.jinja" %}
</body>
</html>