<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Error</title>
    <link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
    {% include "favicon.jinja" %}
</head>
<body>
<p> There was an error with the request. Error code message:</p>
<p> {{ error }} </p>
<p>If you believe that this is an unexpected error then please open an issue <a href="https://gitlab.com/Cyb3r-Jak3/spot-git-oauth/-/issues">Here</a></p>
</body>
{% include "footer.jinja" %}
</html>