<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("static", filename="favicon") }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="favicon") }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", filename="favicon") }}/favicon-16x16.png">
<link rel="manifest" href="{{ url_for("static", filename="favicon") }}/site.webmanifest">
<link rel="mask-icon" href="{{ url_for("static", filename="favicon") }}/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="SpotGit">
<meta name="application-name" content="SpotGit">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

