<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spot-Git Token</title>
    <link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
    <script src={{ url_for("static", filename="download.js") }}></script>
    {% include "favicon.jinja" %}
</head>

<body>
    <h1> Spot-Git Code</h1>
    <p> Your full token is: </p>
    <div id="token">{{ full }}</div>
    <div id=button> <button onclick="download()">Download Token</button></div>
    <p>Retrieved at: {{ date }}</p>

{% include "footer.jinja" %}
</body>
</html>